<b>WELCOME</b><br>
To access account and manage orders
<form >
   <a routerLink="login"> <input type="button" value="Login/SignUp"></a>
<br>
    <a routerLink="order">Order</a><br>
    
    <a routerLink="wishlist">Wishlist</a><br>
    <a routerLink="giftcards">Gift Cards</a><br>
   <a routerLink="contactus">Contact Us</a><br>
    <a routerLink="insider">Myntra Insider</a><br><hr>
   <a routerLink="credit">Myntra Credit</a><br>
    <a routerLink="compans">Coupans</a><br>
    <a routerLink="savedcaeds">Saved Cards</a><br>
    <a routerLink="savedvpa">Saved VPA</a><br>
    <a routerLink="savedaddresses">Saved Addresses</a><br>
</form>

    <div>
        <router-outlet></router-outlet>
    </div>
        
