<img src="../../assets/Screenshot 2023-10-15 162334.png" alt="">
<br><br>
<table>
        <tr><td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/men1.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Blue Shirt</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/men2.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Fashion men Shirt</h4>		

                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/men3.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Fashion Shirt</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men4.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>T-shirt</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men5.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>White T-Shart</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men6.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Blue Coat</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
        </tr>
        <tr><td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/men7.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>black Cote</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/men8.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Party Wear </h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/men9.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Fashion Wear</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men10.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Check Shirt</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men11.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>T-Shirt double combo</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men12.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Formak Wear Combo</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            </tr>

            <tr><td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men13.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Sweatr</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div> </td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men14.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Collection Men's Wear products </h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div> </td>
            
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/men15.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Collection of Jeans</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
                <td><div class="col-sm-3">
                    <div class="thumb-wrapper">
                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                        <div class="img-box">
                            <img src="../../assets/men17.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                        </div>
                        <div class="thumb-content">
                            <h4>Coat</h4>									
                            <div class="star-rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <p class="item-price"> <b>$250.00</b></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>						
                    </div>
                </div></td>
                <td><div class="col-sm-3">
                    <div class="thumb-wrapper">
                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                        <div class="img-box">
                            <img src="../../assets/men1.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                        </div>
                        <div class="thumb-content">
                            <h4>bottom Wear</h4>									
                            <div class="star-rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <p class="item-price"> <b>$250.00</b></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>						
                    </div>
                </div></td>
                <td><div class="col-sm-3">
                    <div class="thumb-wrapper">
                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                        <div class="img-box">
                            <img src="../../assets/men4.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                        </div>
                        <div class="thumb-content">
                            <h4>Shirt</h4>									
                            <div class="star-rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <p class="item-price"> <b>$250.00</b></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>						
                    </div>
                </div></td>
                </tr>
</table>