<table>
    <tr><td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/b1.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Make Up Kit</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/b2.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Eye Liner</h4>		

                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/b3.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Lip Stick</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b4.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Dazller Products</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b5.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>MackUp</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b6.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>LipBalm</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
    </tr>
    <tr><td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/b7.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Facial</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/b8.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Face Cream </h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/b9.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Face Serum</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b10.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Cosmetic</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b11.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Spa</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b12.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Lotions</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        </tr>

        <tr><td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b13.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Foundation</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b14.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Perfume</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/b15.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Hair Product</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/b16.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>SkinCare Bottle</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/b17.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>MackUp Brushes</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/b18.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Body Oil</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            </tr>
</table>

