<body bgcolor="rgb(240, 216, 188);">
    

<span style="text-decoration-color: antiquewhite;">...............................................................................................<img src="../../assets/Screenshot 2023-10-15 120028.png" alt="" align=>..................................................................................</span>
<h2 align="center"><b>LogIn</b>or<b>SignUp</b></h2>
<form action="" get="10" align="center">
   <input type="number" placeholder="+91 Mobile Number" style="width: 300px; height: 40px;" align="center">
   
</form>

<h5 align="center">By Continuing,I agree <b>Terms Of Use</b> & <b>Privacy Policy</b></h5>
<form action="" get="10" align="center" bgcolor="red">
    <input type="button" value="Continue" style="width: 300px; height: 40px;" align="center">
    
 

</form>
</body>