<img src="../../assets/Screenshot 2023-10-15 162419.png" alt=""><br>
<br>
<table>
    <tr><td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/women.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Lehenga</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/women1.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Kurta</h4>		

                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/women2.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Western Top</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women3.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Daily Wear</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women4.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Daily Wear</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women5.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Home Wear</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
    </tr>
    <tr><td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/women6.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Pretty Retro Women Dress</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/women7.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Formal Wear </h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/women8.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Kurtis Pant Set</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women9.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Dupatta Set</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women10.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Palazzo Set</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women11.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Trandy Tops</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        </tr>

        <tr><td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women12.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Punjabi Set</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women13.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Long frock </h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/women14.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Anarkali Kurta</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/women16.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Flared Kurti</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/women17.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Long Top</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/women18.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Western Top</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            </tr>
</table>
