<table>
    <tr><td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/e1.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Laptops</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/e2.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Laptop</h4>		

                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/e3.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Tab</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e4.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Alexa</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e5.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Key Board</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e6.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Drone</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
    </tr>
    <tr><td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/e7.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Camera</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/e8.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>Mouse </h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div> </td>
    
    <td><div class="col-sm-3">
        <div class="thumb-wrapper">
            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
            <div class="img-box">
                <img src="../../assets/e9.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
            </div>
            <div class="thumb-content">
                <h4>I-Phone</h4>									
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
                <p class="item-price"> <b>$250.00</b></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>						
        </div>
    </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e10.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Ear Buds</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e11.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Speakers</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e12.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Smart Watch</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
        </tr>

        <tr><td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e13.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>VR Gamming Tool</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e14.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>Smart Watch </h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div> </td>
        
        <td><div class="col-sm-3">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/e15.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                </div>
                <div class="thumb-content">
                    <h4>POCO Mobile</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>						
            </div>
        </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/e17.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Laptop & EarPhone</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/e18.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Head Set</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            <td><div class="col-sm-3">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="../../assets/e19.jpg" class="img-fluid" alt="Nikon" height="200px" width="200px">
                    </div>
                    <div class="thumb-content">
                        <h4>Ear Pods</h4>									
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <p class="item-price"> <b>$250.00</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div></td>
            </tr>
</table>

